.navBar{
  position: absolute;
  top: 0;
  width: 100%;
}
.main-content{
  width: 100%;
  overflow: hidden;
}
.logo-cont{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logo-cont a{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
}
.logo-name{
  margin-left: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(243, 158, 53);
}
.main-heading{
  margin-top: 100px;
  margin-left: 20px;
  font-size: 40px;
  font-weight: 500;
  color: rgba(4, 179, 33, 0.873);
}
.main-heading span{
  font-weight: 800;
  font-size: 70px;
  color: rgb(243, 158, 53);
}
.content{
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
}
.heading{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-content{
  margin-top: 130px;
  margin-left: 20px;
  overflow: hidden;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}
form{
  width: 100%;
  height: 100%;
  padding: 10px;
}
input{
  width: 69%;
}
.input-fields{
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 60%;
  background-color: #eef1f1;
}
.n-label{
  margin-right: 45px;
}
.p-label{
  margin-right: 25px;
}
.k-label{
  margin-right: 37px;
}
.temp-label{
  margin-right: 20px;
}
.humid-label{
  margin-right: 45px;
}
.ph-label{
  margin-right: 43px;
}
.rain-label{
  margin-right: 58px;
}
.man-img{
  position: absolute;
  top: 70px;
  right: 20px;
}
.predict-btn{
  margin-top: 5px;
  color: rgb(0, 0, 0);
  background-color: rgba(4, 179, 33, 0.574);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}
#prediction p{
  margin-left: 12px;
  font-size: 25px;
  font-weight: 400;
  color: rgba(4, 179, 33, 0.873);
}
#prediction p span{
  font-weight: 600;
  font-size: 35px;
  color: rgb(243, 158, 53);
}
.reset-btn{
  padding: 5px 10px;
  width: 80px;
  margin-left: 10px;
  margin-top: 5px;
  color: rgb(0, 0, 0);
  background-color: rgba(4, 179, 33, 0.574);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}
@media (max-width:1025px) {
  .man-img{
    display: none;
  }
  .input-fields{
    width: 96%;
  }
  .main-heading{
    font-size: 30px;
  }
  .main-heading span{
    font-size: 60px;
  }
}
@media (max-width:769px) {
  .man-img{
    display: flex;
  }
  .heading img{
    display: none;
  }
  .heading{
    align-items: flex-start;
  }
  .form-content{
    margin-top: 0px;
  }
  .content{
    display: flex;
    flex-direction: column;
  }
  .input-fields{
    width: 70%;
  }
}
@media (max-width:426px) {
  .man-img{
    display: none;
  }
  .input-fields{
    width: 90%;
  }
}